[Unit]
Description=shellinabox
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/bin/docker pull atomney/shellinabox
ExecStart=/usr/bin/docker run --rm --name %n -p 443:4200 -m 16m atomney/shellinabox
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
