[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Visual Studio Code
Comment=Visual Studio Code
Exec=/usr/share/code-insiders/code-insiders
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
